.search{
  .search__error-msg{
    color: red;
  }
  
  .search__input--spinner{
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 30px 30px;
    background-position:right 0;
    background-repeat: no-repeat;
  }
}
