.output{
  .output__item{
    color: #fff;
    background-color: $light-blue;
    margin: $size-small $reset;
    display: flex;
    border-top: 1px solid #ccc;
    &:hover{
      background-color: $medium-blue;
      text-decoration: none;
      transition: background 1s;
    }

    .output__item--text{
      text-align: left;
      padding: $size-small;
    }
  }
}
