
<section class="bill">
  <div class="row" tabindex="0">
    <div class="bill__masthead col-md-12">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Sky_Logo_seit_Dezember_2015.png" alt="Sky " class="bill__logo" role="presentation"/>
    </div>
    <ul class="user_info col-xs-12" role="list">
      <li><span class="glyphicon glyphicon-user inner-content" aria-hidden="true"></span> <span class="inner-content">Username</span></li>
      <li><span class="glyphicon glyphicon-envelope inner-content" aria-hidden="true"></span> <span class="inner-content">Username@sky.uk</span></li>
      <li><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> <span class="inner-content">ID 11279890OK</span></li>
    </ul>
  </div>

  <div class="row">
    <h2 class="h1">Your bundles</h2>
    <div class="col-xs-12 col-sm-4" tabindex="0">
      <div class="bill__bundle">
        <div class="bill__bundle--media">
          <img src="https://www.sky.com/assets2/sky-go-engagement-tile-00fca79e.jpg" alt="New Premieres" role="presentation" />
        </div>
        <div class="bill__bundle--content">
          <h2 class="text-uppercase">tv</h2>
          <p>Variety with Movies HD</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="bill__bundle" tabindex="0">
        <div class="bill__bundle--media">
          <img src="https://dm8eklel4s62k.cloudfront.net/images/small/shop-tile.jpg" alt="New Premieres" role="presentation" />
        </div>
        <div class="bill__bundle--content">
          <h2 class="text-uppercase">Talk</h2>
          <p>Sky Talk Anytime</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="bill__bundle" tabindex="0">
        <div class="bill__bundle--media">
          <img src="https://www.sky.com/assets2/new-premieres-tile-fc811543.png" alt="New Premieres" role="presentation" />
        </div>
        <div class="bill__bundle--content">
          <h2 class="text-uppercase">broadband</h2>
          <p>Fibre Unlimited</p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-4 pull-right text-right" tabindex="0">
      <button type="button" class="btn btn-primary btn-submit bill__view" role="button">View your bill breakdown.</button>
      <p class="bill__error-msg"></p>
    </div>

  </div>
</section>
