
<section class="search">
    <form action="//www.bbc.co.uk/radio/programmes/a-z" method="GET" class="search__form" role="search" name="input-form">
      <fieldset class="form-group">
      	<label for="search" class="hidden">Find a programme</label>
      	<input type="text" autocomplete="off" name="q" placeholder="Find  your programme..." class="form-control form-group search__input" >
        <input type="submit" class="btn btn-primary btn-lg btn-block btn-submit search__submit" value="Search" name="inputBtn"/>
      </fieldset>
    </form>
  <p class="search__error-msg"></p>
</section>
