<!DOCTYPE html>
<html>
<head>
<title>Welcome to your sky bill</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/core.css" media="all" />
</head>
<body>

<main class="container-fluid">
	<div class="row">
		<div class="col-md-9 col-xs-12 col-md-offset-2">
			<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
			<h1>{{title}}</h1>
			{{>bill}}
			{{>output}}
		</div>
	</div>
</main>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script type="text/javascript" async src="/js/main.js"></script>
</body>
</html>
